@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200,300,400,500,600,700,800,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 100px;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar.hide {
  transform: translateY(-100%);
}
.navbar .channel {
  position: relative;
}
.navbar ul {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  height: 80px;
}
.navbar ul li a.active,
.navbar ul li a:hover {
  background-color: #fd2928;
  color: #fff;
}
section {
  width: 100%;
  height: 100vh;
}
section.sec1 {
  background-image: url(https://i.postimg.cc/7Y6NbNq4/imagen2.jpg);
  background-size: cover;
  background-attachment: fixed;
}
section.sec2 {
  padding: 100px;
  height: auto;
}
section.sec2 h1 {
  font-size: 60px;
  color: #262626;
}
section.sec2 p {
  font-size: 18px;
}
section.sec3 {
  background-image: url(https://i.postimg.cc/L5sjYHKD/imagen3.jpg);
  background-size: cover;
  background-attachment: fixed;
}
section.sec4 {
  background-image: url(https://i.postimg.cc/k4sxg2ZD/imagen4.jpg);
  background-size: cover;
  background-attachment: fixed;
}
