@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,300,400,500,600,700,800,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}
.sec{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--j);
    scroll-snap-align: center;
}
h3{
    color: #fff;
    font-size: 10vw;
    text-align: center;
    margin: 0 50px;
}
.content{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
.content h2{
    position: relative;
    display: flex;
    justify-content: center;
}
.content h2 span{
    position: sticky;
    top: 0;
    line-height: 100vh;
    height: 100vh;
    color: #fff;
    font-size: 14vw;
    margin-top: calc(100vh * var(--i));
}