* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .slide.slide1 {
  background-image: url(https://i.postimg.cc/7Y6NbNq4/imagen2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container .slide.slide2 {
  background-image: url(https://i.postimg.cc/L5sjYHKD/imagen3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 50%;
}
